.main-container {
    background-color: black;
    background-position: center;
    background-size: cover;
    color: white;
    height: 25rem;
}

.text {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0 0.2em;
    width: fit-content;
}

.text-container {
    padding: 2rem;
    min-height: 15em;
}

.sections {
    display: flex;
}

.left-section {
    flex: 80%;
}

.right-section {
    flex: 20%;
    background-color: var(--theme-color);
    color: white;

    padding: 1em;
    min-height: 20em;
}

.category {
    width: 100%;
    /* font-weight: bold; */
    margin: 0.5em 0;
}

@media (max-width: 400px) {
    .main-container {
        padding: 0.5rem;
        padding-top: 10em;
    }

    .text-container {
        padding: 0.5rem;
    }
}