.image-container {
    width: 100%;
    background-color: black;
    background-position: center;
    background-size: cover;
    padding: 7.5rem 0;

    color: white;
}

.main-image {
    margin: 0;
    max-height: 70vh;
    max-width: 100%;
}

.image-text {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.image-text h1 {
    font-size: large;
    max-width: 35rem;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0.5rem;
}


.sections {
    display: flex;
}

.left-section {
    flex: 80%
}

.main-content {
    margin-top: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.main-content h3 {
    margin-top: 1em;
    text-align: center;
}

.right-section {
    flex: 20%;
    background-color: var(--theme-color);
    color: white;

    padding: 1em;
    min-height: 20em;
}

.category {
    width: 100%;
    font-weight: bold;
    margin: 0.5em 0;
}

.posts-container {
    display: flex;
    justify-content: center;
    margin-bottom: 3em;
}

.posts {
    width: min-content;
    display: inline-block;
}

.post {
    display: inline-block;
    margin: 1em;
    padding: 1em;
    padding-top: 10em;
    height: 4em;
    width: 300px;
    background-position: center;
    border-radius: 3px;
    background-size: cover;
    background-repeat: no-repeat;
}

.text {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 0.5em;
}

footer {
    margin-top: 0;
}

@media (max-width: 900px) {
    .main-image {
        max-height: 50vh;
    }

    .body {
        margin-left: 0;
        margin-right: 0;
    }

    .image-container {
        padding-top: 10em;
    }

    .sections {
        flex-direction: column;
    }

    .right-section {
        min-height: fit-content;
    }
}

@media (max-width: 700px) {
    .posts-container {
        display: block;
        width: min-content;
        margin: 0 auto;
    }
}

@media (max-width: 500px) {
    .main-content {
        margin: 1rem;
    }
}

@media (max-width: 400px) {
    .post {
        width: 250px;
    }
}