.image-container {
    width: 100%;
    background-color: black;
    background-position: center;
    background-size: cover;
    height: 25rem;

    color: white;
}

.main-image {
    margin: 0;
    max-height: 70vh;
    max-width: 100%;
}

.heading-text {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 0.25rem 0.7rem;
    max-width: fit-content;
}

.image-text {
    width: 100%;
    height: 100%;
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.body-text img {
    width: 100%;
}


.image-text h1 {
    margin: 0;
}

.main-content {
    margin: 1em;
}

.main-content h1 {
    margin-left: 3rem;
}

.body-text {
    margin-left: 3rem;
}

.main-content h3 {
    margin-top: 1em;
    text-align: center;
    font-size: xx-large;
}

.posts-container {
    margin-bottom: 3em;
}

.text {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 0.5em;
}

.post {
    display: flex;
    margin: 1em;
}

.post img {
    width: 300px;
    height: auto;
    margin: auto 0;
}

.post .text-container {
    padding: 1em;
}

.post .post-body {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.post h5 {
    margin-top: 1rem;
}


footer {
    margin-top: 0;
}

@media (max-width: 1000px) {
    .image-text {
        margin: 0;
    }

    .heading-text {
        max-width: fit-content;
    }

    .main-content h1 {
        margin-left: 0.25rem;
    }

    .body-text {
        margin-left: 0.25rem;
    }
}

@media (max-width: 500px) {
    .main-content {
        margin: 1rem;
    }
}

@media (max-width: 900px) {
    .main-image {
        max-height: 50vh;
    }

    .body {
        margin-left: 0;
        margin-right: 0;
    }

    .image-container {
        padding-top: 10em;
    }

    .sections {
        flex-direction: column;
    }

    .right-section {
        min-height: fit-content;
    }

    .post img {
        width: 250px;
    }
}

@media (max-width: 700px) {
    .post {
        flex-direction: column;
        margin-bottom: 3em;
    }

    .post img {
        width: 100%;
    }
}