* {
    font-family: 'Open Sans', sans-serif;
    color: inherit;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    color: #555;
}

header {
    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid #55555584;
    padding: 0.5em 3em;
}

.logo-container {
    color: #1A7FB6;
    font-weight: bold;
    font-size: xx-large;
    margin: auto 0;
}

.header-items-container {
    display: flex;
    font-weight: bold;
}

.header-items-container li {
    list-style: none;
    margin: 0 1em;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: #1A7FB6;
    color: white;
    padding: 3em;
    margin-top: 3em;
}

footer .logo-container {
    color: white;
}

footer .header-items-container li {
    color: white;
}

@media (max-width: 1000px) {
    .header-items-container {
        display: none;
    }

    footer {
        padding: 2em;
        justify-content: center;
    }

    header {
        justify-content: center;
    }
}