* {
    font-family: 'Open Sans', sans-serif;
    color: inherit;
}

:root {
    --main-color: #555;
    --theme-color: #1A7FB6;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    color: #555;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid #55555584;
    padding: 0.5em 3em;
}

.logo-container img {
    width: 200px;
}

.opener {
    display: none;
}

.sections {
    display: flex;
}

.left-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 5em;
}

.right-section {
    background-color: var(--theme-color);
    color: white;

    padding: 1em;
    min-height: 20em;
}

.category {
    width: 100%;
    /* font-weight: bold; */
    margin: 0.5em 0;
}

.logo-container {
    color: var(--theme-color);
    font-weight: bold;
    font-size: xx-large;
    margin: auto 0;
}

.header-items-container {
    display: flex;
    font-weight: bold;
}

.header-items-container li {
    list-style: none;
    margin: 0 1em;
}

.header-items-container .closer {
    display: none;
}

.top {
    display: flex;
    justify-content: space-between;
}

footer {
    background-color: var(--theme-color);
    color: white;
    padding: 3em;
    padding-top: 6em;
    /* margin-top: 3em; */
    border-top: #555 solid 1px;

    .logo-container {
        color: white;
    }

    .header-items-container li {
        color: white;
    }
}

.footer-text {
    margin-top: 2rem;
    font-size: small;
}


@media (min-width: 1001px) {
    .left-section {
        width: 80%;
    }

    .right-section {
        width: 20%;
    }

}

.blur-effect {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 1000px) {
    footer {
        padding: 2em;
        padding-top: 5em;
        justify-content: center;

        .header-items-container {
            flex-direction: column;
            padding-left: 0;
        }

        .header-items-container li {
            margin: 0.25em 0;
        }
    }

    .top {
        display: flex;
        flex-direction: column;
    }

    .sections {
        display: block;
    }

    .left-section {
        width: 100%;
    }

    .h2-title {
        text-align: center;
        font-size: 2.2rem;
    }

    .category {
        display: inline-block;

        width: fit-content;

        background-color: white;
        color: var(--theme-color);
        font-weight: bold;
        font-size: 1.25rem;
        margin: 0.25em;
        border-radius: 5px;


    }

    .category-text {
        padding: 0.5em 0.7em;
        font-size: 1.15em;
    }

    header {
        padding-right: 1em;

        .logo-container {
            text-align: center;
        }

        .header-items-container {
            position: absolute;
            width: 0;
            overflow: hidden;
            z-index: 999;

            padding-left: 0;
            display: flex;
            flex-direction: column;

            transition-property: transform;
            transition-duration: 300ms;
            transition-timing-function: ease-in-out;
        }

        .header-items-container .closer {
            display: block;
            margin: 0 auto;
        }

        .opener {
            display: flex;
            flex-direction: column;
            justify-content: center;


            font-weight: bold;
            cursor: pointer;
        }

        .appear {
            background-color: white;

            right: 0;
            top: 0;

            width: 10em;
            height: 100vh;
            margin: 0;
            padding: 2em;

            list-style: none;
        }

        .appear li {
            margin: 0.175em 0;
        }
    }
}

@media (max-width: 500px) {
    header {
        padding: 0.5em 1em;
    }
}

.body-close {
    height: 100vh;
    overflow-y: hidden;
}