* {
    font-family: 'Open Sans', sans-serif;
    color: inherit;
}

:root {
    --main-color: #555;
    --theme-color: #1A7FB6;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    color: #555;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid #55555584;
    padding: 0.5em 3em;
}

.opener {
    display: none;
}

.sections {
    display: flex;
}

.left-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 5em;
}

.right-section {
    background-color: var(--theme-color);
    color: white;

    padding: 1em;
    min-height: 20em;
}

.category {
    width: 100%;
    /* font-weight: bold; */
    margin: 0.5em 0;
}

.logo-container {
    color: var(--theme-color);
    font-weight: bold;
    font-size: xx-large;
    margin: auto 0;
}

.header-items-container {
    display: flex;
    font-weight: bold;
}

.header-items-container li {
    list-style: none;
    margin: 0 1em;
}

.top {
    display: flex;
    justify-content: space-between;
}

footer {
    background-color: var(--theme-color);
    color: white;
    padding: 3em;
    padding-top: 6em;
    /* margin-top: 3em; */
    border-top: #555 solid 1px;
}

.footer-text {
    margin-top: 2rem;
    font-size: small;
}

footer .logo-container {
    color: white;
}

footer .header-items-container li {
    color: white;
}

@media (min-width: 1001px) {
    .left-section {
        width: 80%;
    }

    .right-section {
        width: 20%;
    }

}


@media (max-width: 1000px) {
    footer {
        padding: 2em;
        padding-top: 5em;
        justify-content: center;
    }

    .top {
        display: flex;
        flex-direction: column;
    }

    footer .header-items-container {
        flex-direction: column;
        padding-left: 0;
    }

    footer .header-items-container li {
        margin: 0.25em 0;
    }

    .sections {
        display: block;
    }

    .left-section {
        width: 100%;
    }

    header {
        flex-direction: column;
    }

    header .logo-container {
        text-align: center;
    }

    header .header-items-container {
        max-height: 0;
        margin: 0;
        overflow: hidden;
        padding-left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;

        transition-property: max-height;
        transition-duration: 300ms;
        transition-timing-function: ease-in-out;
    }

    header .header-items-container li {
        text-align: center;
    }

    .opener {
        display: block;
        margin: 0 auto;
        margin-bottom: 0.25em;

        transform: rotateX(180deg);

        font-weight: bold;
        cursor: pointer;
    }
}

header .drop-down {
    max-height: 1000px;
}

header .drop-down li {
    margin: 0.175em 0;
}

header .opened {
    transform: rotateX(0deg);
}