a {
    text-decoration: none;
    color: inherit;
}

h1 {
    margin-bottom: 0.05em;
}

h2 {
    margin-top: 1.5em;
}

img {
    max-width: 100%;
}

.recent-posts h3 {
    text-align: center;
}

#date {
    margin-left: 0.5em;
    font-size: small;
}

#date svg {
    margin: 0;
}

#date span {
    display: inline-block;
    margin: auto 0;
}

#date .author {
    margin-left: 0.125rem;
    margin-right: 0.5rem;
}

#date .date {
    margin-left: 0.125rem;
    margin-right: 0.5rem;
}

.image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
    margin: 1em 0;
}

#main-image {
    width: 100%;
    margin: 0;
}

/* #main-container {
    display: flex;
} */

#inner-container {
    /* flex: 70%; */
    padding: 0 3em;
}

li {
    margin: 0.25em 0;
}

.recent-posts {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 1em 0;
}

.recent-posts img {
    width: 90%;
    height: auto;
}

.recent-posts h4 {
    margin: 0;
}

.text-container {
    margin: 0.5em 0;
    margin-bottom: 2em;
}

.related-posts {
    display: flex;
}

.related-post {
    display: flex;
    margin: 0.5em 0;
    max-width: 20em;
}

.related-text-container {
    margin: 0 1em;
}

.related-post img {
    width: 100px;
    height: auto;
    margin: auto 0;
}

.related-post h4 {
    margin: 0;
}

.recent-posts h3 {
    font-size: small;
    margin: 0;
    margin-bottom: 0.5em;
}

.date {
    font-size: x-small;
    width: fit-content;
}

.social-icons-container {
    display: flex;
    flex-direction: column;
    margin-top: 3em;
}

.mobile-socials {
    display: flex;
    flex-direction: row;
    display: none;
}

.social-icon {
    margin: 0 0.25em;
}

.comments-container {
    width: 100%;
}

form {
    /* margin: 0 0.6em; */
    margin-bottom: 4em;
}

.comment-box {
    width: 90%;
    min-height: 10em;
    max-height: fit-content;
    resize: none;
    padding: 0.5em;
    outline: none;
    border: solid 2px var(--main-color);
    border-radius: 3px;
}

input {
    width: 90%;
    padding: 0.5em;
    outline: none;
    border: solid 2px var(--main-color);
    border-radius: 3px;
    margin: 1em 0;
}

.comments {
    height: fit-content;
}

.comment {
    padding: 0.6em 1em;
    margin: 0.6em 0;
    width: 70%;
    border: 2px solid var(--main-color);
    border-radius: 3px;
}

.comment p {
    margin: 0.25em 0;
}

.comment-date {
    font-size: x-small;
    font-style: italic;
}

.submit {
    background-color: var(--theme-color);
    border: none;
    color: white;
    font-weight: bold;
    padding: 0.5em 0.75em;
    border-radius: 3px;
}

footer {
    margin-top: 0;
}

@media (max-width: 1000px) {
    #main-container {
        padding: 0 1em;
    }

    h2 {
        margin-top: 1em;
        text-align: center;
    }

    .mobile-socials {
        display: flex;
    }

    .side-bar {
        display: none;
    }

    .text-container {
        justify-content: center;
    }

    .recent-posts img {
        width: 50%;
        margin: 0 auto;
    }

    .recent-posts .text-container h4 {
        text-align: center;
        max-width: 50%;
        margin: 0 auto;
    }

    .recent-posts .text-container .date {
        margin: 0.25em auto;
        display: block;
    }
}

@media (max-width: 700px) {
    .recent-posts img {
        width: 70%;
    }

    .recent-posts .text-container h4 {
        max-width: 70%;
    }
}

@media (max-width: 500px) {
    .recent-posts img {
        width: 90%;
    }

    .recent-posts .text-container h4 {
        max-width: 90%;
    }
}

@media (max-width: 700px) {
    #inner-container {
        padding: 0;
    }

    #main-container {
        display: block;
    }

    .related-posts {
        flex-direction: column;
    }
}