a {
    text-decoration: none;
    color: inherit;
}

h1 {
    margin-bottom: 0.05em;
}

h2 {
    margin-top: 1.5em;
}

#date {
    margin-left: 0.5em;
    font-size: small;
}

.image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
    margin: 1em 0;
}

#main-image {
    width: 50%;
    margin: 0;
}

#main-container {
    display: flex;
}

#inner-container {
    flex: 70%;
    padding: 0 3em;
}

.side-bar {
    flex: 30%;
    padding: 1em;

    background-color: var(--theme-color);
    color: white;
}

li {
    margin: 0.25em 0;
}

.recent-posts {
    display: flex;
    margin: 1em 0;
}

.recent-posts img {
    width: 100px;
}

.recent-posts h4 {
    margin: 0;
}

.text-container {
    display: flex;
    flex-direction: column;
    margin: 0 1em;
}

.related-posts {
    display: flex;
}

.related-post {
    display: flex;
    margin: 0.5em 0;
    max-width: 20em;
}

.related-text-container {
    margin: 0 1em;
}

.related-post img {
    width: 100px;
    height: 100px;
}

.related-post h4 {
    margin: 0;
}

.recent-posts h3 {
    font-size: small;
    margin: 0;
    margin-bottom: 0.5em;
}

.date {
    font-size: x-small;
}

.category-title {
    margin-bottom: 0.5em;
}

.category {
    margin: 0.25em 0;
}

.social-icons-container {
    display: flex;
    flex-direction: column;
    margin-top: 3em;
}

.mobile-socials {
    display: flex;
    flex-direction: row;
    display: none;
}

.social-icon {
    margin: 0 0.25em;
}

.comments-container {
    width: 100%;
}

form {
    /* margin: 0 0.6em; */
    margin-bottom: 4em;
}

.comment-box {
    width: 90%;
    min-height: 10em;
    max-height: fit-content;
    resize: none;
    padding: 0.5em;
    outline: none;
    border: solid 2px var(--main-color);
    border-radius: 3px;
}

input {
    width: 90%;
    padding: 0.5em;
    outline: none;
    border: solid 2px var(--main-color);
    border-radius: 3px;
    margin: 1em 0;
}

.comments {
    height: fit-content;
}

.comment {
    padding: 0.6em 1em;
    margin: 0.6em 0;
    width: 70%;
    border: 2px solid var(--main-color);
    border-radius: 3px;
}

.comment p {
    margin: 0.25em 0;
}

.comment-date {
    font-size: x-small;
    font-style: italic;
}

.submit {
    background-color: var(--theme-color);
    border: none;
    color: white;
    font-weight: bold;
    padding: 0.5em 0.75em;
    border-radius: 3px;
}

footer {
    margin-top: 0;
}

@media (max-width: 1000px) {
    #main-container {
        padding: 0 1em;
    }

    h2 {
        margin-top: 1em;
    }

    .mobile-socials {
        display: flex;
    }

    .side-bar {
        display: none;
    }
}

@media (max-width: 700px) {
    #inner-container {
        padding: 0;
    }

    #main-container {
        display: block;
    }

    .related-posts {
        flex-direction: column;
    }
}