* {
    font-family: 'Open Sans', sans-serif;
    color: #555;
}

a {
    text-decoration: none;
}

h1 {
    margin-bottom: 0.05em;
}

h2 {
    margin-top: 1.5em;
}

#date {
    margin-left: 0.5em;
    font-size: small;
}

.image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
    margin: 1em 0;
}

#main-image {
    width: 50%;
    margin: 0;
}

#main-container {
    display: flex;
}

#inner-container {
    flex: 70%;
    padding: 0 3em;
}

.side-bar {
    flex: 30%;
    padding: 1em 0.5em;
}

li {
    margin: 0.25em 0;
}

.recent-posts {
    display: flex;
    margin: 1em 0;
}

.recent-posts img {
    width: 100px;
    height: 100px;
}

.recent-posts h4 {
    margin: 0;
}

.text-container {
    display: flex;
    flex-direction: column;
    margin: 0 1em;
}

.related-posts {
    display: flex;
}

.related-post {
    display: flex;
    margin: 0.5em 0;
    max-width: 20em;
}

.related-text-container {
    margin: 0 1em;
}

.related-post img {
    width: 100px;
    height: 100px;
}

.related-post h4 {
    margin: 0;
}

.recent-posts h3 {
    font-size: small;
    margin: 0;
    margin-bottom: 0.5em;
}

.date {
    font-size: x-small;
}

.category {
    margin: 0.25em 0;
}

@media (max-width: 1000px) {
    .side-bar {
        display: none;
    }
}

@media (max-width: 700px) {
    #inner-container {
        padding: 0;
    }

    #main-container {
        display: block;
    }

    .related-posts {
        flex-direction: column;
    }
}