{% extends 'main.html' %}

{% block title %} About Us {% endblock %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static '/about.css' %}">
{% endblock %}


{% block main %}
<section class="main">
    <div class="main-container">
        <div class="text-container">
            <h2 class="welcome">Welcome to MediPoise!</h2>
            <p>
                At MediPoise, our goal is to provide a comprehensive platform for accurate and reliable medical facts,
                empowering individuals to take control of their health and well-being. We understand that navigating the
                vast realm of medical information can be daunting, which is why we have created a trusted space that
                consolidates verified facts, expert insights, and credible resources.
            </p>
            <p>
                At MediPoise, we cover a wide range of medical topics, including diseases, conditions, treatments,
                medications, and preventative measures. Whether you're seeking information about a specific ailment,
                exploring treatment options, or aiming to enhance your overall well-being, our platform offers
                comprehensive
                resources to meet your needs. Our articles are written in clear and concise language, making complex
                medical
                concepts accessible to everyone without compromising accuracy or depth.
            </p>
            <p>
                While we strive to provide accurate and up-to-date information, it's important to note that the content
                on
                MediPoise is for informational purposes only and should not replace professional medical advice or
                diagnosis. We strongly encourage consulting a qualified healthcare provider for personalized guidance
                tailored to your specific needs.
            </p>
            <p>
                Thank you for choosing MediPoise as your trusted source for reliable medical facts!
            </p>
            <p>
                The MediPoise Team
            </p>
        </div>
    </div>
</section>
{% endblock %}

{% block script %}
{% endblock %}