{% extends 'main.html' %}

{% block title %} {{ category.name }} {% endblock %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static '/category.css' %}">
<link rel="canonical" href="https://medipoise.com/categories/{{ category.slug }}/" />
{% endblock %}


{% block main %}
<section class="main">
    {% if not articles|length %}
    <h1 style="margin: 1.75em;">Sorry Not Much To Display Here...</h1>
    {% else %}
    <h1>{{ category.name }}</h1>
    <div class="articles-container">
        {% for article in articles %}
        <div class="article {% if forloop.counter0|divisibleby:2 %} reverse {% endif %}">
            {% if article.image %} <img src="{{ article.image }}" alt=""> {% endif %}
            <a href="{{category.slug}}/{{article.slug}}">
                <div class="text-container">
                    {{ article.desc }}
                    <br><span class="date">{{ article.date }}</span>
                </div>
            </a>
        </div>
        {% if not forloop.last %}
        <hr> {% endif %}
        {% endfor %}
    </div>
    {% endif %}
</section>
{% endblock %}

{% block script %}
{% endblock %}