{% extends 'main.html' %}

{% block title %} About Us {% endblock %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static '/contact.css' %}">
{% endblock %}


{% block main %}
<section class="main">
    <div class="main-container">
        <h1>Get in Touch</h1>
        <form action="/contact" method="post">
            {% csrf_token %}
            <input name="first-name" type="text" placeholder="First Name">
            <input name="last-name" type="text" placeholder="Last Name">
            <input type="email" name="email" placeholder="johndoe@example.com">
            <textarea name="comments" id="comments" placeholder="Comments..."></textarea>
            <button class="sbmt" type="submit">Submit</button>
        </form>
    </div>
</section>
{% endblock %}

{% block script %}
{% endblock %}