{% extends 'main.html' %}

{% block title %} {{ title }} {% endblock %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static '/extra_page.css' %}">
<link rel="canonical" href="https://www.medpoise.com/{{ slug }}/" />
{% endblock %}


{% block main %}
<section class="main">
    <div class="main-container" style="background-image: url('{{ image }}');">
    </div>
    <div class="text-container">
        <h1>{{ title }}</h1>
        {{ body }}
    </div>
</section>
{% endblock %}

{% block script %}
{% endblock %}