{% extends 'main.html' %}

{% block title %} {{ page_title }} {% endblock %}
{% block description %} {{ desc }} {% endblock %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static '/index.css' %}">
<link rel="canonical" href="https://www.medpoise.com/" />
{% endblock %}


{% block image %}
<div class="image-container" style="background-image: url('{{ image }}');">
    <div class="image-text">
        <h1>
            <div class="heading-text">
                {{ image_text }}
            </div>
        </h1>
    </div>
</div>
{% endblock %}

{% block main %}
<div class="main-container">
    <div class="body">
        {% autoescape off %}
        <br><br>
        <div class="main-content">
            <h1> {{ heading }} </h1>
            <br>
            <div class="body-text">
                {{ body }}
            </div>
            {% if latest_posts %}
            <h3>LATEST POSTS</h3>
            <div class="posts-container">
                {% for post in latest_posts %}
                <a href="{{ post.link }}">
                    <div class="post">
                        <img src="{{ post.image }}">
                        <div class="text-container">
                            <h4>{{ post.title }}</h4>
                            <div class="post-body">
                                {{ post.desc }}
                            </div>
                            <h5>{{ post.author }}</h5>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        {% endautoescape %}
    </div>
</div>
{% endblock %}

{% block script %}
{% endblock %}