<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <html lang="en">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    {% load static %}
    <link rel="stylesheet" href="{% static '/main.css' %}">
    {% block css %} {% endblock %}
</head>

<body>
    <header>
        <div class="logo-container">
            <a href="/">MedPoise</a>
        </div>
        <ul class="header-items-container">
            <li style="color: transparent;"> - </li>
            {% for page in request.extra_pages %}
            {% if page.slug %}
            <li><a href="{{ page.link }}">{{ page.name }}</a></li>
            {% endif %}
            {% endfor %}
            <li style="color: transparent;"> - </li>
        </ul>
        <div class="opener">^</div>
    </header>
    <main>
        {% block image %} {% endblock %}
        <div class="sections">
            <div class="left-section">
                {% block main %} {% endblock %}
            </div>
            <div class="right-section">
                {% block side-bar-above %} {% endblock %}

                {% if request.categories %}
                <h2 class="h2-title">CATEGORIES</h2>
                {% for category in request.categories %}
                <div class="category">
                    <a href="{{ category.link }}"> <span class="arrow">&#10159;</span>
                        {{ category.name}}
                    </a>
                </div>
                {% endfor %}
                {% endif %}

                {% block side-bar-below %} {% endblock %}
            </div>
        </div>
    </main>
    <footer>
        <div class="top">
            <div class="logo-container">
                <a href="/">MedPoise</a>
            </div>
            <ul class="header-items-container">
                {% for page in request.extra_pages %}
                {% if page.slug %}
                <li><a href="{{ page.link }}">{{ page.name }}</a></li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="footer-text">
            © 2023 MedPoise.com. All rights reserved. The content on this website is for informational purposes only, it
            does not replace the advice you receive from your health care professionals.
        </div>
    </footer>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3EZSC7DXX2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());



        gtag('config', 'G-3EZSC7DXX2');
    </script>
    {% block script %}{% endblock %}
</body>
<script>
    var menu = document.querySelector('.header-items-container')
    var opener = document.querySelector('.opener')
    var toggle = false


    opener.onclick = e => {
        if (!toggle) {
            menu.classList.add('drop-down')
            opener.classList.add('opened')
        }

        else {
            menu.classList.remove('drop-down')
            opener.classList.remove('opened')
        }

        toggle = !toggle
    }
</script>

</html>