{% extends 'main.html' %}

{% load lookup %}

{% block title %} {{ title }} {% endblock %}
{% block description %} {% endblock %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static '/posts.css' %}">
{% endblock %}

{% block main %}
{% autoescape off %}
<div id="main-container">
    <div id="inner-container">
        <h1 id="title-text">{{ title }}</h1>
        <span id="date">{{ date }}</span>
        <div class="image-container">
            <img id="main-image" src="{{ image_url }}" alt="">
        </div>
        {{ content }}
        {% if related|length > 0 %}
        <br><br>
        <h3>RELATED POSTS</h3>
        <div class="related-posts">
            {% for item in related %}
            <a href="/{{ item.category }}/{{ item.slug }}">
                <div class="related-post">
                    <img src="{{ item.image }}" alt="">
                    <div class="related-text-container">
                        <h4>{{ item.title }}</h4>
                        <span class="date">{{ item.date }}</span>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="side-bar">
        <h3>RECENT POSTS</h3>
        {% for item in recent %}
        <a href="/{{ item.category }}/{{ item.slug }}">
            <div class="recent-posts">
                <img src="{{ item.image }}" alt="">
                <div class="text-container">
                    <h4> {{ item.title }} </h4>
                    <span class="date">{{ item.date }}</span>
                </div>
            </div>
        </a>
        {% endfor %}
        <br>
        <h3>CATEGORIES</h3>
        {% for category in categories %}
        <h5 class="category">
            <a href="/{{ category.slug }}">- {{ category.name }}</a>
        </h5>
        {% endfor %}
    </div>
</div>
{% endautoescape %}
{% endblock %}

{% block script %}
{% endblock %}