.main {
    width: 100%;
    display: flex;
    justify-content: center;
}

.main-container {
    max-width: 40em;

    background-color: #1A7FB6;
    color: white;

    margin: 2em 0.05em;
    border-radius: 7px;
}

.heading {
    font-size: 2em;
    text-align: center;
    color: inherit;

    padding: 1em 0;
}

.text-container {
    color: inherit;
    padding: 1em 2em;
}

.text-container p,
h2 {
    color: inherit;
}

.welcome {
    font-size: larger;
}