.main-container {
    padding: 1em;
    padding-bottom: 7em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image-container {
    background-color: black;
    background-position: center;
    background-size: cover;
    color: white;
    height: 25rem;
}

form {
    color: initial;
}

.main-container h1 {
    text-align: center;
}

/* ::placeholder {
    color: inherit;
} */

.main-container input {
    display: block;
    width: 30em;
    font-size: larger;

    margin: 0.5em auto;
    padding: 0.5em;
    border-radius: 1px;
    outline: none;
    border: 2px solid var(--main-color);
}

#comments {
    display: block;
    margin: 0.5em auto;
    padding: 0.5em;
    width: 30em;
    height: 10em;
    resize: none;
    border-radius: 1px;
    outline: none;
    /* background-color: #1A7FB6; */
    border: 2px solid var(--main-color);
    font-size: larger;
    /* color: white; */
}

.sbmt {
    display: block;
    margin: 1em auto;
    padding: 1em 2em;

    border: none;
    color: white;
    background-color: #1A7FB6;
    font-weight: bold;
}

.message {
    margin: 0 auto;
    width: 100%;
    padding: 1em 0;
    text-align: center;
    color: white;
    font-weight: bold;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

canvas {
    margin: 0 auto;
    display: block;
}

@media (max-width: 650px) {
    .main-container input {
        width: 25em;
    }

    .main-container #comments {
        width: 25em;
    }
}

@media (max-width: 550px) {
    .main-container input {
        width: 90%;
    }

    .main-container #comments {
        width: 90%;
    }

    canvas {
        width: 90%;
    }
}